:root {
    --Broadlinkinternet-font: 'Outfit', sans-serif;
    --Broadlinkinternet-gray: #6A6D7A;
    --Broadlinkinternet-gray-rgb: 106, 109, 122;
    --Broadlinkinternet-white: #ffffff;
    --Broadlinkinternet-white-rgb: 255, 255, 255;
    --Broadlinkinternet-base: #3FF1BB;
    --Broadlinkinternet-base-rgb: 63, 241, 187;
    --Broadlinkinternet-primary: #674DF0;
    --Broadlinkinternet-primary-rgb: 103, 77, 240;
    --Broadlinkinternet-black: #1B1F2E;
    --Broadlinkinternet-black-rgb: 27, 31, 46;
    --Broadlinkinternet-black2: #000D3A;
    --Broadlinkinternet-black2-rgb: 0, 13, 58;
    --Broadlinkinternet-extra: #F5F7FA;
    --Broadlinkinternet-extra-rgb: 245, 247, 250;
}