:root {
    --Broadlinkinternet-font: 'Outfit', sans-serif;
    --Broadlinkinternet-gray: #6A6D7A;
    --Broadlinkinternet-gray-rgb: 106, 109, 122;
    --Broadlinkinternet-white: #ffffff;
    --Broadlinkinternet-white-rgb: 255, 255, 255;
    --Broadlinkinternet-base: #D80E1F;
    --Broadlinkinternet-base-rgb: 216, 14, 31;
    --Broadlinkinternet-black: #000D3A;
    --Broadlinkinternet-black-rgb: 0, 13, 58;
    --Broadlinkinternet-black2: #1B1F2E;
    --Broadlinkinternet-black2-rgb: 27, 31, 46;
    --Broadlinkinternet-extra: #F5F7FA;
    --Broadlinkinternet-extra-rgb: 245, 247, 250;
}